#parse("Front/Head.html")
  <div id="page_main" class="clearfix">
    <div class="page-right">
      <div class="site-nav"><span>当前位置 : </span><a href="index.html">公司主页</a> &gt;&gt; <a href="jobs.html" title="招聘信息">招聘信息</a></div>
      <div class="page-jobs">
      <table border="0" align="center">
      <tr><th class="jobs-time">日期</th><th class="jobs-title">招聘岗位</th></tr>

<tr><td class="time-list"><span>2011/6/11</span></td><td><a href="jobs.html" title="实验室技术人员">实验室技术人员</a></td></tr>

<tr><td class="time-list"><span>2011/6/11</span></td><td><a href="jobs.html" title="文员">文员</a></td></tr>

<tr><td class="time-list"><span>2011/6/11</span></td><td><a href="jobs.html" title="销售代表">销售代表</a></td></tr>

<tr><td class="time-list"><span>2011/6/11</span></td><td><a href="jobs.html" title="销售主管">销售主管</a></td></tr>

<tr><td class="time-list"><span>2011/6/11</span></td><td><a href="jobs.html" title="营销总监">营销总监</a></td></tr>
      </table>
<div class="page_list"><div class="list_info">共5个/1页 <span class="disabled">&nbsp;&lt;&lt;&nbsp;</span><span class="disabled">&nbsp;&lt;&nbsp;</span><span class="current">1</span><span class="disabled">&nbsp;&gt;&nbsp;</span><span class="disabled">&nbsp;&gt;&gt;&nbsp;</span></div></div>
      </div>
    </div>
    <div class="page-left">
      <div class="left-search">
        <h2><span>站内搜索</span></h2>
        <form action="" method="post" id="sitesearch" name="sitesearch">
          <p>
            <select name="searchid" id="searchid"><option value="2">产品展示</option><option value="3">新闻中心</option><option value="4" selected="selected">招聘信息</option></select>
          </p>
          <p>
            <input name="searchtext" type="text" id="searchtext"/>
          </p>
          <p>
            <input name="searchbutton" type="submit" id="searchbutton" value="" />
          </p>
        </form>
      </div>
      <div class="left-contact">
        <h2><span>联系我们</span></h2>
        <p><span>地址: </span>上海市嘉定区华亭镇<br />
          <span>邮编: </span>200000<br />
          <span>联系人: </span>网聚化工<br />
          <span>电话: </span>021-58888888<br />
          <span>传真: </span>021-58888888<br />
          <span>手机: </span>13888888888<br />
          <span>邮箱: </span>netgather@netgather.com</p>
      </div>
      <img src="images/tel.gif" width="240" height="59" alt="联系我们" />
    </div>
  </div>
#parse("Front/Foot.html")